html 
    head
        title Movies 
        link(rel="stylesheet", href="./output.css")
    body(class="max-w-7xl mx-auto bg-black text-white p-[20px]")
        h1(class="text-red-500 font-bold text-center text-[40px]") Movies 
        div 
               div(class="mt-8 grid md:grid-cols-3 gap-4 p-[20px]")
                    each movie in data 
                     a(href=`/movies/${movie.id}`,class="transition-[0.2s] hover:scale-[1.09] hover:transition-[0.2s] hover:cursor-pointer active:scale-[1] hover: mb-[20px]")
                         img(class="rounded-[10px] w-[300px]" src=`https://image.tmdb.org/t/p/w500${movie.poster_path}`, alt="", srcset="")
                         h2(class="text-[20px]")= movie.title
                         p(class="text-orange-400")=movie.vote_average
                    